<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="loginKawaii.css">
</head>
<body>
    <div id="outer-grid">
        <!-- Sidebar -->
        <div id="outer-side">
            <div id="sidebar-top">
                <p id="sidebar-title">(Kittens!)</p>
            </div>
            <div id="sidebar-mid">
                <ul>
                    <li><a href="#">~  Page  ~</a></li>
                    <li><a href="#">~  Page  ~</a></li>
                    <li><a href="#">~  Page  ~</a></li>
                </ul>
            </div>
            <div id="sidebar-bot">
                <p>Powered by cuteness</p>
            </div>
        </div>
        
        <!-- Main Page -->
        <div id="main">

            <div id="login-box">
                <div class="box-title-bar">
                    <div class="box-title-deco"></div>
                    <div class="box-title-text">Log-in</div>
                </div>
                <div id="login-box-wrapper">
                    <div id="login">
                        <input type="text" name="">
                        <input type="password" name="">
                        <input type="submit" name="">
                    </div>
                </div>
            </div>


            <div id="image-box">
                <!--<div class="box-title-bar">
                    <div class="box-title-deco"></div>
                    <div class="box-title-text"></div>
                </div>-->
                <div id="image-box-wrapper">
                    
                </div>
            </div>

        </div>
    </div>
</body>