@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/IndexKawaii.css" type="text/css">
    <link rel="stylesheet" href="~/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="~/css/sidebar.css" type="text/css">

    <title>Kittens - Home</title>
</head>
<body>
    <div id="outer-grid">
        <!-- Sidebar -->
        <div id="outer-side">
            <div id="sidebar-top">
                <p class="sidebar-title">(Kittens!)</p>
            </div>
            <div id="sidebar-mid">
                <ul>
                    <li><a asp-route="home">~  Home  ~</a></li>
                    <li><a asp-route="cart" >~  Cart  ~</a></li>
                    <li><a asp-route="user">~  Profile ~</a></li>
                </ul>
            </div>
            <div id="sidebar-bot">
                <p>Powered by cuteness</p>
            </div>
        </div>

        <!-- Main Page -->
        <div id="main">
            <div id="big-box">
                <div class="box-title-bar">
                    <!--<div class="box-title-text">List</div>-->
                    <div class="box-title-text">Kitty List!</div>
                    <div class="box-title-deco"></div>
                </div>
                <div id="list">

                    <!--<div id="page-changer">

                        <div id="arrows">
                            <a href="#">
                                <
                            </a>
                            <p>Switch Pages</p>
                            <a href="#">
                                >
                            </a>
                        </div>

                        <div id="page-number">
                            <p>Page number:</p>
                            <input type="text">
                        </div>
                    </div>-->
                    @if (ViewData["cats"] as List<CatAPILib.Models.Cat>  != null)
                    {
                        foreach (var cat in ViewData["cats"] as List<CatAPILib.Models.Cat>)
                        {
                            <a class="single-cat" asp-route="cat" asp-route-uid="@cat.uid">
                                <div>
                                    <p class="cat-name">@cat.name</p>
                                    <p class="cat-age">Aged @cat.age</p>
                                </div>
                                <div class="cat-detail-arrow">
                                    <p> > </p>
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
            <div id="small-box">
                <div class="box-title-bar">
                    <div class="box-title-text"></div>
                    <div class="box-title-deco"></div>
                </div>
                <div id="filters">

                </div>
            </div>
        </div>
    </div>
</body>