@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CatAPILib.Models.Cat
@{
    Layout = null;
    List<CatAPILib.Models.Cat>? cartItems = ViewData["cartItems"] as List<CatAPILib.Models.Cat>;
    double? total = 0;
    string amount = (ViewData["amount"] != null)?((ViewData["amount"] as string) + (ViewData["currency"] as string)):("N/A");
    string vat = (ViewData["vat"] != null)?(ViewData["vat"] as string):("N/A");
    if (cartItems != null)
    {
        foreach (CatAPILib.Models.Cat cat in cartItems)
        {
            if (cat != null)
            {
                if (cat.image == null){cat.image = "https://i.pinimg.com/originals/db/1a/a8/db1aa8d0d6bc34df01a288ed01c6082d.png";}
                if (cat.price != null && cat.price != 0)
                {
                    total += cat.price / 100.0;
                }
                else
                {
                    cat.price = 0;
                }
            }
        }
    }
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/cartKawaii.css" type="text/css">
    <link rel="stylesheet" href="~/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="~/css/sidebar.css" type="text/css">


    <title>Kittens - Cart</title>
</head>
<body>
    <div id="outer-grid">
        <!-- Sidebar -->
        <div id="outer-side">
            <div id="sidebar-top">
                <p class="sidebar-title">(Kittens!)</p>
            </div>
            <div id="sidebar-mid">
                <ul>
                    <li><a asp-route="home">~  Home  ~</a></li>
                    <li><a asp-route="cart">~  Cart  ~</a></li>
                    <li><a href="#">~  Wishlist  ~</a></li>
                </ul>
            </div>
            <div id="sidebar-bot">
                <p>Powered by cuteness</p>
            </div>
        </div>

        <!-- Main Page -->
        <div id="main">
            <div id="big-box">
                <div class="box-title-bar">
                    <div class="box-title-text">Cart</div>
                    <div class="box-title-deco"></div>
                </div>
                <div id="list">
                    @if(cartItems != null){
                    @foreach (CatAPILib.Models.Cat cat in cartItems) {
                    <div class="single-item">
                        <a class="single-cat" asp-route="cat">
                            <div>
                                <p class="cat-name">@cat.name</p>
                                <p class="cat-price">@cat.price</p>
                            </div>
                            <div class="cat-detail-arrow">
                                <p> > </p>
                            </div>
                        </a>
                        <div class="single-item-options">
                            <p style="font-size: 1.5rem;">Remove</p>
                        </div>
                    </div>
                    }
                    }
                    <!--
                    <div class="single-item">
                        <a class="single-cat" asp-route="cat">
                            <div>
                                <p class="cat-name"></p>
                                <p class="cat-price"></p>
                            </div>
                            <div class="cat-detail-arrow">
                                <p> > </p>
                            </div>
                        </a>
                        <div class="single-item-options">
                            <p style="font-size: 1.5rem;">Remove</p>
                        </div>
                    </div>

                    <div class="single-item">
                        <a class="single-cat" asp-route="cat">
                            <div class="cat-content-wrapper">
                                <p class="cat-name">Nome lunghissimo o o o o</p>
                                <p class="cat-price">prezzo a caso</p>
                            </div>
                            <div class="cat-detail-arrow">
                                <p> > </p>
                            </div>
                        </a>
                        <div class="single-item-options">
                            <p style="font-size: 1.5rem;">Remove</p>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div id="small-box">
                <div class="box-title-bar">
                    <div class="box-title-text">Checkout</div>
                    <div class="box-title-deco"></div>
                </div>
                <div id="checkout">
                    <div id="info-flex">
                        <div class="info-rows" id="main-info">
                            <p class="info-title">Total</p>
                            <p class="info-text">@amount</p>

                            <p class="info-title" style="font-size: 1rem;">VAT (included)</p>
                            <p class="info-text" style="font-size: 1rem;">@vat</p>
                        </div>
                    </div>
                    <div id="btn-wrapper">
                        <!--<input type="submit" name="confirm" value="Checkout" class="btn">-->
                        <a asp-route="payment" class="btn">Checkout</a>
                    </div>
                </div>

            </div>

            <div id="image">
                <img src="~/png/cartThingyMaybe.png" alt="">
            </div>
        </div>
    </div>
</body>